html {
  font-family: 'Audiowide', cursive;
}

.title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;

}

a:hover{
  color: #5b59E8;
}

.announce {
  margin: 10px 25px;
  padding: 5px;
  border: 1px solid #000;
  box-shadow: inset 0 0 10px 10px #325C74;
  color: #000;
  text-shadow: 1.5px 1.5px 3.4px #FFF;
}

.words {
  text-align: center;
}

.suggestion {
  text-align: right;
}

body::after {
  background-image: url('/assets/images/apartments.jpeg');
  content: '';
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.mhead {
  text-align: center;
  font-size: 32px;
  color: #FFF;
  text-shadow: 1.5px 1.5px 3.4px #000;
}

.msecondhead {
  font-size: 26px;
  color: #000;
  text-shadow: 1.5px 1.5px 3.4px #FFF;
}

.mwords {
  text-align: right;
}
