html {
  font-family: 'Audiowide', cursive;
}

.title {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;

}

a:hover{
  color: #5b59E8;
}

.announce {
  margin: 10px 25px;
  padding: 5px;
  border: 1px solid red;
  box-shadow: inset 0 0 10px 10px #279CF3;
}

.words {
  text-align: center;
}
