<h2>{{vm.maintenance_request.tenant_name}}</h2>
<p>{{vm.maintenance_request.building_number}}</p>
<p>{{vm.maintenance_request.apt_number}}</p>
<p>{{vm.maintenance_request.type}}</p>
<p>{{vm.maintenance_request.urgency}}</p>
<p>{{vm.maintenance_request.description}}</p>
<p>{{vm.maintenance_request.completed}}</p>


<h4><a ui-sref="userShow({tenant_name: vm.maintenance_request.tenant_name})">users</a></h4>


<input type="text" ng-model="vm.maintenance_request.tenant_name">
<input type="text" ng-model="vm.maintenance_request.building_number">
<input type="text" ng-model="vm.maintenance_request.apt_number">
<input type="text" ng-model="vm.maintenance_request.type">
<input type="text" ng-model="vm.maintenance_request.urgency">
<textarea type="text" ng-model="vm.maintenance_request.description"></textarea>
<input type="text" ng-model="vm.maintenance_request.completed">
<button data-ng-click="vm.update()">Update Entry</button>
<button data-ng-click="vm.destroy()">Delete Request</button>
