<h2 class="mainr">New Maintenance Request</h2>

<div class="formc">
  <form ng-submit="vm.create()">
    <input type="text" ng-model="vm.maintenance_request.tenant_name" placeholder="name"><br>
    <input type="text" ng-model="vm.maintenance_request.building_number" placeholder="building number"><br>
    <input type="text" ng-model="vm.maintenance_request.apt_number" placeholder="apt number"><br>
    <input type="text" ng-model="vm.maintenance_request.type" placeholder="type of request"><br>
    <input type="text" ng-model="vm.maintenance_request.urgency" placeholder="urgency level"><br>
    <br>
    <textarea type="text" ng-model="vm.maintenance_request.description" placeholder="description of problem"></textarea><br>
    <input type="text" ng-model="vm.maintenance_request.completed" placeholder="to be filled out by staff"><br>
    <button type="submit">Submit</button>
  </form>
</div>
