
<div class="userDisplay">
  <h3>Users on this form</h3>
  <div data-ng-repeat="user in vm.users">
    <p>User: {{user.name}}</p>
    <p>Category: {{user.category}}</p>
    <p>Division: {{user.division}}</p>
  </div>
</div>

<h2>add a new user</h2>

<form ng-submit="vm.create()">
  <input type="text" ng-model="vm.user.name" placeholder="name">
  <input type="text" ng-model="vm.user.category" placeholder="category">
  <input type="text" ng-model="vm.user.division" placeholder="division">
  <button type="submit">Submit</button>
</form>
